:root {
    color-scheme: light dark;
    --primary: mediumpurple;
    view-transition-name: root;
}
html, body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0; 
    padding: 0; 
    color: CanvasText;
    background-color: Canvas;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.background {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;    
    height: 100%;
    overflow: hidden;
    animation: backgroundchange 2s ease-in-out infinite alternate;
}
.background.active {
    display: flex;
}
.background.active svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background.active svg path {
    transition: stroke-dasharray 2s ease, stroke-dashoffset 2s ease;
    stroke-dasharray: var(--dasharray, 500);
    stroke-dashoffset: var(--dashoffset, 1000);
    stroke-width: 5px;
    /* animation: backgroundchangev1 2s ease-in-out infinite alternate; */
    animation: backgroundchangev2 2s ease-in-out infinite alternate;
}
@media (prefers-color-scheme: dark) {
    #changeondark {
        fill: white;
    }
}
@keyframes backgroundchangev1 {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 300;
    }
}
@keyframes backgroundchangev2 {
    to {
        stroke-dashoffset: 0;
    }
}
.alert-info {
    transition: 0.3s;
    align-items: center;
    position: static;
    top: 80px;
    margin: 15px auto;
    max-width: 200px;
    padding: 13px;
    color: white;
    background-color: rgb(76, 175, 80);
    z-index: 999;
    text-align: right;
    border-radius: 12px;
    vertical-align: text-top;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert-info svg {
    all: unset;
    font-size: 1.5rem;
    vertical-align: bottom;
    margin-right: 5px;
}
.main {
    display: flex-box;
    z-index: 999;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact, .donate {
    display: flex-box;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}
.item {
    margin-top: 20px;
    z-index: 1000;
}
.link {
    transition: 0.3s;
    vertical-align: text-top;
    font-size: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 1em;
    text-decoration: none;
    color: CanvasText;
    border-radius: 12px;
    padding: 8px;
    background-color: color-mix(in srgb, Canvas, grey 0%);
    backdrop-filter: blur(15px);
    z-index: 1000;
    word-break: break-all;
    margin: 15px;
    cursor: pointer;
}
.item noscript::-moz-selection {
    color: Canvas;
    background-color: CanvasText;
}
.item noscript::selection {
    color: Canvas;
    background-color: CanvasText;
}
.item noscript {
    margin-top: 10px;
    display: block;
    font-size: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 1em;
    word-break: break-all;
    text-wrap:wrap;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.item svg {
    vertical-align: text-bottom;
    padding: 1px;
    margin-right: 5px;
}
.link svg {
    vertical-align: text-bottom;
    padding: 1px;
    margin-right: 5px;
}
.link:hover {
    background-color: color-mix(in srgb, Canvas, grey 17%);
}
#title {
    min-height: 37px;
    border-right: 2px solid CanvasText;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    background-color: Canvas;
    color: CanvasText;
    animation: cursorblinking 1s ease-in-out infinite alternate;
    /* animation: blink 0.6s step-start infinite; */
}
noscript #title {
    border: none;
}
noscript {
    z-index: 9999;
}
@keyframes cursorblinking{
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: CanvasText;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@media (height <= 550px) {
    .main {
        margin-top: -50px;
    }
    .item {
        display: inline-flex;
        margin-top: -50px;
    }
    .contact, .donate {
        margin: auto;
        margin-top: -20px;
    }
    .alert-info {
        margin-right: 15px;
    }
}