:root {
    color-scheme: light dark;
    --primary: mediumpurple;
    view-transition-name: root;
}
html, body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0; 
    padding: 0; 
    color: CanvasText;
    background-color: Canvas;
    /* background: #ffffff url(image/background.jpg) center center/cover no-repeat;
    filter: blur(5px); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.background {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;    
    height: 100%;
    overflow: hidden;
    animation: backgroundchange 2s ease-in-out infinite alternate;
}
.background svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background svg path {
    animation: backgroundchange 2s ease-in-out infinite alternate;
}
@keyframes backgroundchange{
    from {
        width: 100%;
        height: 100%;
        stroke-width: 2px;
    }
    to {
        /* width: 101%;
        height: 101%; */
        stroke-width: 5px;
    }
}
.background-black {
    display: flex;
    position: fixed;
    top: 0;
    padding: 100%;
    overflow: hidden;
    background-color: color-mix(in srgb, Canvas, transparent 30%);
    z-index: 5;
}
.alert-info {
    transition: 0.3s;
    align-items: center;
    position: static;
    top: 80px;
    margin: 15px auto;
    max-width: 200px;
    padding: 13px;
    color: white;
    background-color: rgb(76, 175, 80);
    z-index: 999;
    text-align: right;
    border-radius: 12px;
    vertical-align: text-top;
    /* visibility: collapse; */
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert-info svg {
    all: unset;
    font-size: 1.5rem;
    vertical-align: bottom;
    margin-right: 5px;
}
.main {
    display: flex-box;
    z-index: 999;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact, .donate {
    display: flex-box;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}
.item {
    margin-top: 20px;
}
.link {
    transition: 0.3s;
    vertical-align: text-top;
    font-size: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 1em;
    text-decoration: none;
    color: CanvasText;
    border-radius: 12px;
    padding: 8px;
    background-color: color-mix(in srgb, Canvas, grey 0%);
    word-break: break-all;
    margin: 15px;
    cursor: pointer;
}
.item noscript {
    margin-top: 10px;
    display: block;
    font-size: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 1em;
    word-break: break-all;
    text-wrap:wrap;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.item svg {
    vertical-align: text-bottom;
    padding: 1px;
    margin-right: 5px;
}
/* .link.copy {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
} */
.link svg {
    vertical-align: text-bottom;
    padding: 1px;
    margin-right: 5px;
}
.link:hover {
    background-color: color-mix(in srgb, Canvas, grey 17%);
}
@media (height <= 550px) {
    .main {
        margin-top: -50px;
    }
    .item {
        display: inline-flex;
        margin-top: -50px;
    }
    .contact, .donate {
        margin: auto;
        margin-top: -20px;
    }
    .alert-info {
        margin-right: 15px;
    }
}