:root {
    --md-sys-color-primary: light-dark(rgb(65 95 145), rgb(170 199 255));
    --md-sys-color-surface-tint: light-dark(rgb(65 95 145), rgb(170 199 255));
    --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(10 48 95));
    --md-sys-color-primary-container: light-dark(rgb(214 227 255), rgb(40 71 119));
    --md-sys-color-on-primary-container: light-dark(rgb(40 71 119), rgb(214 227 255));
    --md-sys-color-secondary: light-dark(rgb(86 95 113), rgb(190 198 220));
    --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(40 49 65));
    --md-sys-color-secondary-container: light-dark(rgb(218 226 249), rgb(62 71 89));
    --md-sys-color-on-secondary-container: light-dark(rgb(62 71 89), rgb(218 226 249));
    --md-sys-color-tertiary: light-dark(rgb(112 85 117), rgb(221 188 224));
    --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(63 40 68));
    --md-sys-color-tertiary-container: light-dark(rgb(250 216 253), rgb(87 62 92));
    --md-sys-color-on-tertiary-container: light-dark(rgb(87 62 92), rgb(250 216 253));
    --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
    --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
    --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
    --md-sys-color-on-error-container: light-dark(rgb(147 0 10), rgb(255 218 214));
    --md-sys-color-background: light-dark(rgb(249 249 255), rgb(17 19 24));
    --md-sys-color-on-background: light-dark(rgb(25 28 32), rgb(226 226 233));
    --md-sys-color-surface: light-dark(rgb(249 249 255), rgb(17 19 24));
    --md-sys-color-on-surface: light-dark(rgb(25 28 32), rgb(226 226 233));
    --md-sys-color-surface-variant: light-dark(rgb(224 226 236), rgb(68 71 78));
    --md-sys-color-on-surface-variant: light-dark(rgb(68 71 78), rgb(196 198 208));
    --md-sys-color-outline: light-dark(rgb(116 119 127), rgb(142 144 153));
    --md-sys-color-outline-variant: light-dark(rgb(196 198 208), rgb(68 71 78));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: light-dark(rgb(46 48 54), rgb(226 226 233));
    --md-sys-color-inverse-on-surface: light-dark(rgb(240 240 247), rgb(46 48 54));
    --md-sys-color-inverse-primary: light-dark(rgb(170 199 255), rgb(65 95 145));
    --md-sys-color-primary-fixed: light-dark(rgb(214 227 255), rgb(214 227 255));
    --md-sys-color-on-primary-fixed: light-dark(rgb(0 27 62), rgb(0 27 62));
    --md-sys-color-primary-fixed-dim: light-dark(rgb(170 199 255), rgb(170 199 255));
    --md-sys-color-on-primary-fixed-variant: light-dark(rgb(40 71 119), rgb(40 71 119));
    --md-sys-color-secondary-fixed: light-dark(rgb(218 226 249), rgb(218 226 249));
    --md-sys-color-on-secondary-fixed: light-dark(rgb(19 28 43), rgb(19 28 43));
    --md-sys-color-secondary-fixed-dim: light-dark(rgb(190 198 220), rgb(190 198 220));
    --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(62 71 89), rgb(62 71 89));
    --md-sys-color-tertiary-fixed: light-dark(rgb(250 216 253), rgb(250 216 253));
    --md-sys-color-on-tertiary-fixed: light-dark(rgb(40 19 46), rgb(40 19 46));
    --md-sys-color-tertiary-fixed-dim: light-dark(rgb(221 188 224), rgb(221 188 224));
    --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(87 62 92), rgb(87 62 92));
    --md-sys-color-surface-dim: light-dark(rgb(217 217 224), rgb(17 19 24));
    --md-sys-color-surface-bright: light-dark(rgb(249 249 255), rgb(55 57 62));
    --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(12 14 19));
    --md-sys-color-surface-container-low: light-dark(rgb(243 243 250), rgb(25 28 32));
    --md-sys-color-surface-container: light-dark(rgb(237 237 244), rgb(29 32 36));
    --md-sys-color-surface-container-high: light-dark(rgb(231 232 238), rgb(40 42 47));
    --md-sys-color-surface-container-highest: light-dark(rgb(226 226 233), rgb(51 53 58));
}